<head>
  <title>
    Cws's Oracle Info
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta charset="utf-8">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" >
  <style>
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
</head>
<body style="background-color:black;">
  <center>
  <h1 style="color:white;">WorskShop:- GUEST1<br>
    username:- GUEST1<br>
    Password:- HelpMe</h1>

<a href="http://cwsoracle.myftp.org:91/apex">
<button class="button">Ok!I Understand</button></a>
  
  <h5 style="color:white;">If Seems like this "This site can’t be reached" Then Contect Our Admins for Turn On Oracle Server(s)</h5>
</center>
</body>